{% extends 'engine/base.html' %}
{% load static %}
{% block content %}
<style>
    div {
        text-align: center;
    }
    .search-bar{
        margin-top: 7%;
    }
    


</style>
    <div class="home">
        <h1>coolest job search engine</h1>
        <img class="img1" src="../static/images/jobsearch.png" width="150" height="150">
        <div class="search-bar">
            <form method="POST" action="results">
                {% csrf_token %}
                <input class="form-control form-control-lg" type="text" placeholder="what is the job of your dreams?" name="search">
                <button type="submit" class="btn btn-dark">click me</button>

            </form>
        </div>
       
    </div>
{% endblock content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
h1 {
  font-family: "Audiowide", sans-serif;
}
</style>